{
    "NSPrivacyTracking": false,
    "NSPrivacyTrackingDomains": [],
    "NSPrivacyCollectedDataTypes": [],
    "NSPrivacyAccessedAPITypes": [
        {
            "type": "NSUserDefaults",
            "purpose": "Basic app functionality",
            "details": "Store user preferences and app settings"
        },
        {
            "type": "NSFileHandle",
            "purpose": "Basic app functionality",
            "details": "Read and write app data"
        }
    ]
}